@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



.main {
  height: 95vh;
  width: 100%;
  border-radius: 0px 30px 30px 0px;
  background-color: #f8f9fc;
  transition: all 0.5s ease-in;

  .overview {
    height: 100%;
    width: 100%;
    border-radius: 0px 30px 30px 0px;
    background-color: #f8f9fc;
    max-height: 100%;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  }

  .head {
    display: flex;
    justify-content: space-between;

    svg {
      height: 13%;
      width: 13%;
      margin-right: 40px;
      margin-left: auto;
      margin-top: 20px;
      cursor: pointer;
    }

    svg:focus {
      height: 12%;
      width: 12%;
    }
  }
}

.categories {
  margin-left: 3%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  align-items: center;

  .active-category {
    opacity: 1;
    label {
      cursor: pointer;
      font: normal normal bold 35px/43px Montserrat;
    }
  }

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.5;
    transition: all 500ms ease;

    span {
      display: block;
    }

    label {
      margin: 0 5px;
      cursor: pointer;
      font: normal normal normal 35px/43px Montserrat;
    }
  }

  div:hover {
    opacity: 1;
  }
}

.connect-wallet {
  background-color: #e70dff;
  margin-top: 2%;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10%;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  width: 13%;
  transition: all 500ms ease;

  label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    margin-left: 5px;
    font: normal normal bold 15px/18px Montserrat;
    color: white;
  }
}

.coins-sort {
  display: flex;
  flex-direction: row;
  column-gap: 60px;
  margin: 40px 40px;
  background-color: white;
  padding: 20px;
  border-radius: 0.5em;

  .current-bets-btn {
    cursor: pointer;
    background-color: #0d90ff;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    // box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    opacity: 1;
    margin-left: auto;
    border: 1px solid white;
    font: normal normal bold 16px/19px Montserrat;
    user-select: none;
    -moz-user-select: none;
  }

  .current-bets-btn:hover {
    background-color: white;
    border: 1px solid #0d90ff;
    color: #0d90ff;
  }

  div {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    opacity: 0.5;
    transition: all 500ms ease;

    label {
      cursor: pointer;
      font: normal normal bold 20px/24px Montserrat;
    }

    span {
      height: auto;
      cursor: pointer;
      margin-left: 5px;
    }
  }

  div:first-child {
    opacity: 1;
  }

  div:hover {
    opacity: 1;
  }

  div:first-child {
    label {
      margin-left: 10px;
      color: black;
      opacity: 1;
    }
  }
}

.carousel {
  div:focus {
    outline: none!important;
  }
}

.focusRing___1airF.carousel__slide-focus-ring {
  outline: none !important;
}

.race-table {
  height: 50%;
  width: 96%;
  overflow: auto;

.row-coin {
  padding: 20px;
  width: 95%;
  display: grid;
  grid-template-columns: 0.5fr 0.7fr 2fr 6fr;
  height: 50px;

  .coin-number {
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font: normal normal bold 20px/24px Montserrat;
  }

  img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
  }

  .coin-info-group {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .coin-name-group {
      .coin-fullname {
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        font: normal normal bold 20px/24px Montserrat;
        margin-right: 20px;
      }

      .coin-shortname {
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        opacity: 0.5;
        font: normal normal bold 20px/24px Montserrat;
      }
    }

    .coin-price {
      margin-top: auto;
      margin-bottom: auto;
      color: #4bc716;
      font: normal normal bold 20px/24px Montserrat;
    }
  }

  .score {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    // background: rgb(246, 253, 255);
    // background: -moz-linear-gradient(
    //   90deg,
    //   rgba(246, 253, 255, 1) 0%,
    //   rgba(252, 244, 213, 1) 35%
    // );
    // background: -webkit-linear-gradient(
    //   90deg,
    //   rgba(246, 253, 255, 1) 0%,
    //   rgba(252, 244, 213, 1) 35%
    // );
    // background: linear-gradient(
    //   90deg,
    //   rgba(246, 253, 255, 1) 0%,
    //   rgba(252, 244, 213, 1) 35%
    // );
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f6fdff",endColorstr="#fcf4d5",GradientType=1);
    border-radius: 10px;
    box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.15);
    // display: flex;
    // flex-direction: row;
    display: grid;
    grid-template-columns: 8fr 3fr;

    .score-group {
      display: flex;
      flex-direction: row;
    }

    .line {
      height: 20px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20px;
      border-radius: 7px;
      background: rgb(222, 186, 40);
      background: -moz-linear-gradient(
        90deg,
        rgba(222, 186, 40, 1) 0%,
        rgba(255, 210, 23, 1) 35%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(222, 186, 40, 1) 0%,
        rgba(255, 210, 23, 1) 35%
      );
      background: linear-gradient(
        90deg,
        rgba(222, 186, 40, 1) 0%,
        rgba(255, 210, 23, 1) 35%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#deba28",endColorstr="#ffd217",GradientType=1);
    }

    .score-img {
      height: 30px;
      width: 30px;
      margin-top: auto;
      margin-bottom: auto;
      z-index: 1;
      margin-left: -15px;
    }

    .finish-section {
      display: inline-flex;
      // justify-content: space-between;
      flex-direction: row;
      // grid-template-columns: 0.1fr 0.5fr 0.5fr;
      margin-left: auto;
      margin-right: 10px;
      width: 100%;
      text-align: center;

      img {
        height: 40px;
        margin: auto 0;
        width: 20%;
      }

      .coefficient {
        height: 50%;
        width: 3.5vw;
        border: 1px solid #e70dff;
        background-color: transparent;
        border-radius: 5px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 500ms ease;

        label {
          cursor: pointer;
          font: normal normal 600 16px/19px Montserrat;
          margin: auto;
          color: #e70dff;
        }
      }

      .coefficient:hover {
        background-color: #e70dff;

        label {
          color: white;
        }
      }

      .bet-btn {
        cursor: pointer;
        height: 60%;
        width: 4vw;
        background-color: #e70dff;
        border-radius: 30px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 500ms ease;

        label {
          font: normal normal 600 16px/19px Montserrat;
          color: white;
          cursor: pointer;
        }
      }
    }
  }
}
}

.race-table::-webkit-scrollbar {
  width: 0.5em;
}
 
.race-table::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f8f9fc;
}
 
.race-table::-webkit-scrollbar-thumb {
  // background-color: red;
  background: #CB26FE 0% 0% no-repeat padding-box;
  border-radius: 3px;
}

.show-modal {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s !important;
  z-index: 10;
}

.connect-wallet-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

  .connect-wallet-content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 420px;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 420px;
    border-radius: 30px;

    .connect-wallet-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      align-items: center;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid lightgray;

      label {
        opacity: 0.5;
      }

      span {
        img {
          height: 25px;
          width: 25px;
          cursor: pointer;
        }
      }
    }

    .underline {
      height: 1px;
      width: 100%;
      background-color: lightgray;
    }

    .connect-wallet-body {
      display: flex;
      flex-direction: column;

      h2 {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 55px;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
          display: flex;
          flex-direction: column;
          text-align: center;

          img {
            cursor: pointer;
            opacity: 0.5;
          }

          label {
            cursor: pointer;
            font-size: 13px;
            opacity: 0.5;
          }
        }

        div:first-child {
          img {
            opacity: 1;
          }

          label {
            color: #6c1aeb;
            opacity: 1;
          }
        }
      }
    }
  }
}

.select-application-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

  .select-application-content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 420px;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 420px;
    border-radius: 30px;

    .select-application-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 40px;
      align-items: center;
      padding: 1rem 1.5rem;
      border-bottom: 1px solid lightgray;

      label {
        opacity: 0.5;
      }

      span {
        img {
          height: 25px;
          width: 25px;
          cursor: pointer;
        }
      }
    }

    .underline {
      height: 1px;
      width: 100%;
      background-color: lightgray;
    }

    .select-application-body {
      display: flex;
      flex-direction: column;

      h2 {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 55px;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
          display: flex;
          flex-direction: column;
          text-align: center;

          img {
            cursor: pointer;
            opacity: 0.5;
          }

          label {
            cursor: pointer;
            font-size: 13px;
            opacity: 0.5;
          }
        }

        div:first-child {
          img {
            opacity: 1;
          }

          label {
            color: #6c1aeb;
            opacity: 1;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px),
  only screen and (max-device-width: 1280px) {
    .categories .active-category label {
      font-size: 1.5em;
    }

    .categories div label {
      font-size: 1.5em;
    }

    .connect-wallet {
      height: 30px;
      width: 140px;
    }

    .connect-wallet img {
      height: 80%;
    }

    .connect-wallet label {
      font-size: 0.7em;
    }

    .row-coin .coin-number {
      font-size: 1em;
    }

    .row-coin img {
      height: 50px;
      width: 50px;
      margin-top: auto;
      margin-bottom: auto;
    }

    .row-coin .coin-info-group .coin-name-group .coin-fullname {
      font-size: 1em;
    }

    .row-coin .coin-info-group .coin-name-group .coin-shortname {
      font-size: 1em;
    }

    .row-coin .coin-info-group .coin-price {
      font-size: 1em;
    }

    .coins-sort {
      padding: 10px;

      .current-bets-btn {
        cursor: pointer;
        background-color: #0d90ff;
        margin-right: 20px;
        margin-left: 20px;
        color: white;
        padding: 15px 10px;
        border-radius: 25px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
        font: normal normal bold 16px/19px Montserrat;

        label {
          user-select: none;
        -moz-user-select: none;
        }
      }
    }

    .row-coin {
      height: 40px;
      grid-template-columns: 40px 60px 200px 450px;
    }

    .coins-sort div label {
      font-size: 1em;
    }

    .race-group .race-aside .announcement label {
      font-size: 1em;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .race-group .race-aside .announcement .change-race-btn {
      font-size: 0.6em;
    }

    .race-group .race-aside .announcement .announcement-description label {
      font-size: 0.6em;
    }

    .race-group .race-aside .announcement img {
      width: 100%;
    }

    .race-group .race-aside .announcement .current-bets-btn {
      font-size: 0.6em;
    }

    .nav-item .item-container a {
      font-size: 0.8em;
    }

    .nav-item .item-container {
      padding: 10px 25px;
    }

    .nav-item .item-container img {
      height: 70%;
    }

    .underline {
    }
}
