:root {
  --underline-height: 0.5em;
  --transition-duration: 1s;
}

body {
  font-family: system-ui, sans-serif;
  background: whitesmoke;
  min-height: 100vh;
}

.sidebar {
  height: 100%;
  width: 20%;
  border-radius: 30px 0 0 30px;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
}

nav {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  white-space: nowrap;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.underline {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  height: 5em;
  width: 1em;
  margin-right: 1.4rem;
  background-color: transparent;
  pointer-events: none;
  mix-blend-mode: initial;
  transition: transform 0.5s ease-in-out;
  border-radius: 1em;

  img {
    height: 100%;
    margin-right: -10px;
  }
}

.nav-item {
  height: 5em;
  width: 100%;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  .item-container {
    text-decoration: none;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    padding: 15px 35px;
    width: 50%;
    border-radius: 2em;
    transition: all 0.5s ease-in;

    a {
      font-family: "Montserrat";
      color: #c2c9d5;
      margin-right: auto;
      font-size: 15px;
      text-decoration: none;
    }
  }

  .item-container:hover {
    background: #f3f0ff;
    a {
      color: #551fff;
    }
  }

  .item-container.active-item {
    background: #f3f0ff;
    a {
      color: #551fff;
    }
  }
}

.logo-nav {
  height: auto;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10%;
  margin-bottom: 35%;
  cursor: pointer;
}

.social-group {
  margin-top: auto;
  height: 20%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
  margin-bottom: 0px;
  height: auto;

  .social-icons {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: center;
    a {
      img {
        height: 60%;
        width: 60%;
        margin: auto;
      }
    }
  }

  .social-footer {
    width: 100%;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 0.1fr 1fr;

    label:nth-child(2) {
      color: red;
      cursor: auto;
    }

    label {
      cursor: pointer;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      font-size: 10px;
      color: #6c1aeb;
    }
  }
}
