.App {
  margin: 20px;
  height: 95vh;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

body {
  background-color: #E0E4FF;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #E0E4FF;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #CB26FE;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #E0E4FF;  /* creates padding around scroll thumb */
}