.App {
  /* margin: 20px; */
  height: 95vh;
  width: 95vw;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #e0e4ff;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
